<div class="app-crisis-banner">
  <div class="kbrinl-width-container app-crisis-banner__content app-cms-content">
    <span class="app-crisis-banner__title">COVID-19 notice</span>
    <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas id sint voluptas illo exercitationem, eum vitae. <a href="/">More information</a>
    </p>
    <span class="app-crisis-banner__updated">Terakhir diperbarui: 1 Mei 2021 jam 21:54</span>
  </div>
</div>
