<footer class="app-footer">
  <div class="kbrinl-width-container">
    <div class="kbrinl-grid-row app-footer__menu">
      <div class="kbrinl-grid-column-one-third">
        <h2 class="kbrinl-heading-m">{{ 'footer.about.title' | i18n }}</h2>
        <ul class="app-footer__list">
          <li>
            <a href="/about/accessibility" class="app-footer__link">{{ 'footer.about.accessibility.title' | i18n }}</a>
          </li>
          <li>
            <a href="/about/colophon" class="app-footer__link">{{ 'footer.about.colophon.title' | i18n }}</a>
          </li>
          <li>
            <a href="/about/cookies" class="app-footer__link">{{ 'footer.about.cookies.title' | i18n }}</a>
          </li>
          <li>
            <a href="/about/privacy" class="app-footer__link">{{ 'footer.about.privacy.title' | i18n }}</a>
          </li>
        </ul>
      </div>
      <div class="kbrinl-grid-column-one-third">
        <h2 class="kbrinl-heading-m">{{ 'footer.address.title' | i18n }}</h2>
          <address class="app-footer__address">
            <span class="app-footer__address-item">
              Tobias Asserlaan 8<br>
            </span>
            <span class="app-footer__address-item">
              2517 KC &nbsp;Den Haag
            </span>
            <span class="app-footer__address-item">
              <a href="/ee" class="app-footer__link">
                {{ 'footer.address.map.title' | i18n }}
              </a>
            </span>
            <span class="app-footer__address-item">
              <a href="/ee" class="app-footer__link">
                {{ 'footer.address.9292.title' | i18n }}
              </a>
            </span>
          </address>
      </div>
      <div class="kbrinl-grid-column-one-third">
        <h2 class="kbrinl-heading-m">{{ 'footer.contact.title' | i18n }}</h2>
        <address class="app-footer__address">
          <span class="app-footer__address-item">
            Tel: 
            <a href="tel:+310703108100" class="app-footer__link">+31(070) 3108 100</a>
          </span>
          <span class="app-footer__address-item">
            Fax: 
            <a href="tel:+310703643331" class="app-footer__link">+31(070) 3643 331</a>
          </span>
          <span class="app-footer__address-item"><a href="mailto:embassy@indonesia.nl" class="app-footer__link">embassy@indonesia.nl</a></span>
        </address>
      </div>
    </div>
    <div class="app-footer__logo">
      <img aria-hidden="true" class="app-footer__logo-img" src="/assets/images/kbrinl-logo.png">
      <span class="app-footer__logotype">
        <span class="kbrinl-!-font-weight-bold">
          {{ 'footer.logo.theEmbassyOf' | i18n }}<br aria-hidden="true">
          {{ 'footer.logo.republicOfIndonesia' | i18n }}<br aria-hidden="true">
        </span>
        {{ 'common.embassyLocation' | i18n }}
      </span>
    </div>
  </div>
</footer>
