{% if locale == "id" %}
  {% set homeLink = "/id" %}
  {% set menuItems = i18n.id.menu %}
{% else %}
  {% set homeLink = "/" %}
  {% set menuItems = i18n.en.menu %}
{% endif %}

<header class="app-header" data-module='app-header'>
  <div class="kbrinl-width-container">
    <a href="{{ homeLink }}" class="app-header__title app-header__link">
      <img class="app-header__crest" src="/assets/images/bti-crest.png" alt="">
      <div class="app-header__title-text">
        {{ 'common.embassy' | i18n }}
        <br aria-hidden="true"/>
        {{ 'common.embassyLocation' | i18n }}
      </div>
    </a>
    <button class="app-header__menu-button" aria-controls="main-menu">Menu</button>
    <nav class="app-header__nav" id="main-menu">
      <ul class="app-header__menu">
        {% for menuItem in menuItems %}
          <li class="app-header__menu-item">
            <a class="app-header__menu-link app-header__link" href="{{ menuItem.href }}" {% if menuItem.items %} {% set parentLoopIndex = loop.index0 %} aria-controls="submenu-{{loop.index0}}" {% endif %}>
              {% if menuItem.icon %}<img class="app-header__menu-item-icon" src="{{ menuItem.icon }}" onload="SVGInject(this)">{% endif %}
              {{ menuItem.title }}
            </a>
            {% if menuItem.items %}
              <div class="app-header__submenu-section" id="submenu-{{ loop.index0 }}">
                <div class="kbrinl-width-container">
                  <div class="kbrinl-grid-row">
                    <div class="kbrinl-grid-column-one-third-from-desktop">
                      <p class="kbrinl-heading-s app-header__submenu-title">{{ menuItem.title }}</p>
                    </div>
                    <div class="kbrinl-grid-column-two-thirds-from-desktop">
                      <ul class="app-header__submenu">
                        {% for submenuItem in menuItem.items %}
                          <li class="app-header__submenu-item{% if submenuItem.items %} app-header__dropdown{% endif %}" 
                          {% if submenuItem.items %} data-module="app-dropdown" {% endif %}>
                            <a href="{{ submenuItem.href }}" class="app-header__submenu-link app-header__link app-header__dropdown-trigger"
                              {% if submenuItem.items %}
                                aria-controls="submenu-dropdown-{{ parentLoopIndex }}-{{ loop.index0 }}"
                                data-module="app-dropdown-trigger"
                              {% endif %}
                              >
                              {{ submenuItem.title }}
                            </a>
                            {% if submenuItem.items %}
                              <ul class="app-header__dropdown-list" id="submenu-dropdown-{{ parentLoopIndex }}-{{ loop.index0 }}">
                                {% for dropdownItem in submenuItem.items %}
                                  <li class="app-header__dropdown-item">
                                    <a href="{{ dropdownItem.href }}" class="app-header__dropdown-link app-header__link">
                                      {{ dropdownItem.title }}
                                    </a>
                                  </li>
                                {% endfor %}
                              </ul>
                            {% endif %}
                          </li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>