{% if locale == "id" %}
  {% set news = news.id %}
  {% set imagePathPrefix = "/assets/images/news/id/" %}
{% else %}
  {% set news = news.en %}
  {% set imagePathPrefix = "/assets/images/news/en/" %}
{% endif %}

<div class="app-home-news">
  <div class="kbrinl-grid-row">
    {% for item in news.items %}
      {% if loop.index0 < 2 %}
        <div class="kbrinl-grid-column-one-third">
          <a href="{{ item.href }} "aria-hidden="true" tabindex="-1" class="app-img__3-2-container app-home-news__img-container">
            <img src="{{imagePathPrefix}}{{ item.img }} "/>
          </a>
          <h3 class="kbrinl-heading-s">
            <a href="{{ item.href }} " class="kbrinl-link">
              {{ item.title }}
            </a>
          </h3>
        </div>
      {% endif %}
    {% endfor %}
    <div class="kbrinl-grid-column-one-third">
        <ul class="app-home-news__list">
        {% for item in news.items %}
          {% if (loop.index0 > 1) and (loop.index0 < 5) %}
            <li>
              <a href="{{ item.href }}">{{ item.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
        </ul>
        <a href="{{ news.readMore.href }} " class="kbrinl-link app-home-news__read-more">{{ news.readMore.text }}</a>
    </div>
  </div>
</div>
