{% from 'macros/accordion.njk' import appAccordion %}

{% set accordionItems = [
    {
      heading: {
        text: 'home.openingHoursAndHolidays.general.title' | i18n
      },
      content: {
        html: 'home.openingHoursAndHolidays.general.content' | i18n
      },
      expanded: true
    },
    {
      heading: {
        text: 'home.openingHoursAndHolidays.consular.title' | i18n
      },
      content: {
        html: 'home.openingHoursAndHolidays.consular.content' | i18n
      }
    },
      {
      heading: {
        text: 'home.openingHoursAndHolidays.passport.title' | i18n
      },
      content: {
        html: 'home.openingHoursAndHolidays.passport.content' | i18n
      }
    },
      {
      heading: {
        text: 'home.openingHoursAndHolidays.visa.title' | i18n
      },
      content: {
        html: 'home.openingHoursAndHolidays.visa.content' | i18n
      }
    }
  ]
%}

{% if (locale == 'id') %}
  {% set accordionItems = (accordionItems.push(
      {
      heading: {
        text: 'Pembuatan NIT'
      },
      content: {
        html: '<p><strong>Kamis</strong><br>10:00 - 12:00 (dengan janji)</p>'
      }
    }
), accordionItems) %}
{% endif %}

{{ appAccordion({
  id: "opening-hours-accordion",
  headingLevel: 3,
  classes: 'app-cms-content',
  items: accordionItems
}) }}
