<div class="kbrinl-grid-row">
  <div class="kbrinl-grid-column-one-third">
    <h2 class="kbrinl-heading-l">{{ 'home.moreLinks.title' | i18n }}</h2>
  </div>
  <div class="kbrinl-grid-column-one-third">
    <h3 class="kbrinl-heading-m">{{ 'home.moreLinks.ourWebsites.title' | i18n }}</h3>
    <ul class="kbrinl-list kbrinl-!-font-weight-bold">
      <li><a href="{{ 'home.moreLinks.ourWebsites.mofa.href' | i18n }}" class="kbrinl-link">{{ 'home.moreLinks.ourWebsites.mofa.title' | i18n }}</a></li>
      <li><a href="https://paspor.indonesia.nl" class="kbrinl-link">{{ 'home.moreLinks.ourWebsites.passport.title' | i18n }}</a></li>
    </ul>
  </div>
  <div class="kbrinl-grid-column-one-third">
    <h3 class="kbrinl-heading-m">{{ 'home.moreLinks.socialMedia.title' | i18n }}</h3>
    <ul class="kbrinl-list kbrinl-!-font-weight-bold">
      <li><a href="https://www.facebook.com/kbridenhaag.belanda" class="kbrinl-link">Facebook</a></li>
      <li><a href="https://www.instagram.com/indonesiainthehague/" class="kbrinl-link">Instagram</a></li>
      <li><a href="https://twitter.com/kbridenhaag" class="kbrinl-link">Twitter</a></li>
      <li><a href="https://www.youtube.com/user/kbridenhaag/videos" class="kbrinl-link">YouTube</a></li>
    </ul>
  </div>
</div>
