<ul class="app-home-hero__buttons">
  <li class="app-home-hero__button-item">
    <a href="/en/visa" class="app-home-hero__button-link">
      <div class="app-home-hero__button-text">
        <span class="app-home-hero__button-subtitle">{{ 'home.services.visa.subtitle' | i18n }}</span>
        <h2 class="app-home-hero__button-title">{{ 'home.services.visa.title' | i18n }}</h2>
      </div>
      <svg width="28" height="25" viewBox="0 0 28 25" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_3_1992)">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M22.5352 12.6026L13.334 3.40148L15.9752 0.760185L27.8177 12.6026L15.9752 24.4452L13.334 21.8038L22.5352 12.6026Z" fill="currentColor"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M0.0849609 10.7351H23.5545V14.4706H0.0849609V10.7351Z" fill="currentColor"/>
        </g>
        <defs>
          <clipPath>
            <rect width="28" height="24" fill="currentColor" transform="translate(0 0.5)"/>
          </clipPath>
        </defs>
      </svg>
    </a>
  </li>

  <li class="app-home-hero__button-item app-home-hero__button-item--turquoise">
    <a href="/id/paspor" class="app-home-hero__button-link">
      <div class="app-home-hero__button-text">
        <span class="app-home-hero__button-subtitle">{{ 'home.services.passport.subtitle' | i18n }}</span>
        <h2 class="app-home-hero__button-title">{{ 'home.services.passport.title' | i18n }}</h2>
      </div>
      <svg width="28" height="25" viewBox="0 0 28 25" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_3_1992)">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M22.5352 12.6026L13.334 3.40148L15.9752 0.760185L27.8177 12.6026L15.9752 24.4452L13.334 21.8038L22.5352 12.6026Z" fill="currentColor"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M0.0849609 10.7351H23.5545V14.4706H0.0849609V10.7351Z" fill="currentColor"/>
        </g>
        <defs>
          <clipPath>
            <rect width="28" height="24" fill="currentColor" transform="translate(0 0.5)"/>
          </clipPath>
        </defs>
      </svg>
    </a>
  </li>

  <li class="app-home-hero__button-item app-home-hero__button-item--green">
    <a href="{{ 'home.services.consular.href' | i18n }}" class="app-home-hero__button-link">
      <div class="app-home-hero__button-text">
        <span class="app-home-hero__button-subtitle">{{ 'home.services.consular.subtitle' | i18n }}</span>
        <h2 class="app-home-hero__button-title">{{ 'home.services.consular.title' | i18n }}</h2>
      </div>
      <svg width="28" height="25" viewBox="0 0 28 25" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_3_1992)">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M22.5352 12.6026L13.334 3.40148L15.9752 0.760185L27.8177 12.6026L15.9752 24.4452L13.334 21.8038L22.5352 12.6026Z" fill="currentColor"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M0.0849609 10.7351H23.5545V14.4706H0.0849609V10.7351Z" fill="currentColor"/>
        </g>
        <defs>
          <clipPath>
            <rect width="28" height="24" fill="currentColor" transform="translate(0 0.5)"/>
          </clipPath>
        </defs>
      </svg>
    </a>
  </li>
</ul>

