<div class="kbrinl-width-container">
  <div class="app-home-news-slider">
    <div class="app-home-news-slider__img-container">
      <img class="app-home-news-slider__img" aria-hidden="true" src="https://en.indonesia.nl/media/k2/items/cache/3d105248b10b0d962a881701f9482c8d_M.jpg">
    </div>
    <div class="app-home-news-slider__sidebar">
      <ul class="app-home-news-slider__list">
        <li class="app-home-news-slider__item">
          <h3 class="app-home-news-slider__heading">
            <a href="/gfdf" class="app-home-news-slider__link">
              Tracing tempe's appeal in Indonesian culinary history 
            </a>
          </h3>
        </li>

        <li class="app-home-news-slider__item">
          <h3 class="app-home-news-slider__heading">
            <a href="/gfdf" class="app-home-news-slider__link">
             Um Island, A Unique Environment for Relaxing Getaway  
            </a>
          </h3>
        </li>

        <li class="app-home-news-slider__item">
          <h3 class="app-home-news-slider__heading">
            <a href="/gfdf" class="app-home-news-slider__link">
             5 Spectacular Sights in Raja Ampat That You Will Remember for Life 
            </a>
          </h3>
        </li>

        <li class="app-home-news-slider__item">
          <h3 class="app-home-news-slider__heading">
            <a href="/gfdf" class="app-home-news-slider__link">
             A sneak peek into rengkam paradise Amat Belanda Island 
            </a>
          </h3>
        </li>
      </ul>

    </div>
  </div>
</div>
