{% extends './_base.njk' %}
{% from 'macros/breadcrumbs.njk' import appBreadcrumbs %}

{% if eleventyNavigation %}
  {% set navPages = collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key, {includeSelf: true}) %}
  {% set breadcrumbItems = [] %}
  {% for page in navPages %}
    {% set breadcrumbItems = (breadcrumbItems.push({text: page.title, href: page.url}), breadcrumbItems) %}
  {% endfor %}

{% endif %}

{% block main %}
  <main id="main-content" class="app-main-wrapper kbrinl-!-padding-top-0">
    <div class="app-page-heading">
      <div class="kbrinl-width-container">
        <h1 class="kbrinl-heading-xl">
          {{ title }}
        </h1>
        {% if updated %}
          <div class="kbrinl-body-s kbrinl-!-margin-bottom-0 kbrinl-!-margin-top-2">{{ 'common.lastUpdated' | i18n }}
            {% if locale == "en" %}
              {{ updated | formatDateEn }}
            {% else %}
              {{ updated | formatDateId }}
            {% endif %}
          </div>
        {% endif %}
      </div>
    </div>

    <div class="kbrinl-width-container">
      {% if eleventyNavigation %}
        {{ appBreadcrumbs({
          items: breadcrumbItems
        }) }}
      {% endif %}
    </div>

    {% if locale == "id" %}
      {% set tocTitle = "Daftar isi" %}
    {% else %}
      {% set tocSkipContent = "Daftar isi" %}
    {% endif %}

    {% block aside %}
      {% if includeToc %}
        <div class="kbrinl-width-container">
          <a class="kbrinl-skip-link kbrinl-!-display-none-print" href="#page-content">{{ 'common.skipLink' | i18n }}</a>
        </div>
        <aside>
          <div class="app-toc">
            <div class="kbrinl-width-container">
              <div class="kbrinl-grid-row">
                <div class="kbrinl-grid-column-two-thirds">
                  <h2 class="app-toc__title">{{ tocTitle }}</h2>
                  {{ content | toc | safe }}
                </div>
              </div>
            </div>
          </div>
        </aside>
      {% endif %}
    {% endblock %}

    <div class="kbrinl-width-container">
      {% block content %}{% endblock %}
    </div>
  </main>
{% endblock %}