{% extends './_base.njk' %}
{% from 'macros/accordion.njk' import appAccordion %}

{% block main %}
  <main class="app-main-wrapper app-main-wrapper--home" id="main-content">
    {% include "home-hero.njk" %}

    <div class="kbrinl-width-container">
      <h2 class="kbrinl-heading-l">{{ 'home.openingHoursAndHolidays.title' | i18n }}</h2>
      <div class="kbrinl-grid-row">
        <div class="kbrinl-grid-column-two-thirds">
          {% include "home-opening-hours.njk" %}
        </div>
        <div class="kbrinl-grid-column-one-third">
          <h3 class="kbrinl-promo">
            <a class="kbrinl-link kbrinl-promo__link" href="{{ 'home.openingHoursAndHolidays.sideContent.href' | i18n }}">
              <span class="kbrinl-promo__content">{{ 'home.openingHoursAndHolidays.sideContent.title' | i18n }}</span>
            </a>
          </h3>
          <div class="app-cms-content">
            {{ 'home.openingHoursAndHolidays.sideContent.content' | i18n | safe }}
          </div>
        </div>
      </div>

      <hr class="app-divider">

      {% include "home-news-static.njk" %}

      <hr class="app-divider"> 

      {% include "home-links.njk" %}

    </div>
  </main>
{% endblock %}
