{% extends './default.njk' %}

{% set items = collections.all | eleventyNavigation(eleventyNavigation.key) %}

{% block content %}
  <div class="kbrinl-!-margin-top-9">
    <ul class="app-menu-cards {% if double == true %} app-menu-cards--double {% endif %}">
      {% for item in items %}
        <li class="app-menu-card">
          <h2 class="kbrinl-heading-m">
            <a class="app-menu-card__link" href="{{ item.url }}">
              {{item.title}}
            </a>
          </h2>
          <p class="app-menu-card__excerpt kbrinl-body">{{ item.excerpt }}</p>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
