{% extends './default.njk' %}

{% block content %}
  <div class="kbrinl-grid-row">
    <div class="kbrinl-grid-column-two-thirds">
      <div class="app-prose" id="page-content">
        {{ content | safe }}
      </div>
    </div>
  </div>
{% endblock %}
