.app-crisis-banner {
  padding: govuk-spacing(2) 0;
  padding-top: 0;
  background-color: $app-brand-colour;

  @include govuk-media-query($from: desktop) {
    padding: govuk-spacing(4) 0;
    padding-top: govuk-spacing(2);
  }

  p, .app-crisis-banner__title {
    color: govuk-colour("white");
  }

  a {
    @include govuk-link-style-inverse;
  }
}

.app-crisis-banner--medium {
  background-color: #2D3D9C;
}

.app-crisis-banner--critical {
  padding-top: govuk-spacing(2);
  background-color: #fd0;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='250' viewBox='0 0 20 20'%3E%3Cg fill='%23fff'%3E%3Cpath d='M20 10L10 0H0l20 20zM0 10v10h10z'/%3E%3C/g%3E%3C/svg%3E");

  p, .app-crisis-banner__title {
    color: govuk-colour("black");
  }

  a {
    @include govuk-link-common;
    @include govuk-link-style-default;
    @include govuk-link-print-friendly;
  }

  @include govuk-media-query($from: desktop) {
    padding-top: govuk-spacing(4);
  }
}

.app-crisis-banner__content {
  padding: govuk-spacing(4) govuk-spacing(4);
  margin-bottom: govuk-spacing(2);
}

.app-crisis-banner--critical .app-crisis-banner__content {
  background-color: govuk-colour("white");
}

.app-crisis-banner__title {
  @extend %govuk-heading-l;
}

.app-crisis-banner__updated {
  @extend %govuk-body-s;
  color: govuk-colour("white");
}

.app-crisis-banner--critical .app-crisis-banner__updated {
  color: govuk-colour("dark-grey");
}
