.app-header {
  padding-top: govuk-spacing(2);
  @include govuk-typography-common;
  border-bottom: govuk-spacing(2) solid $app-brand-colour;
  margin-bottom: 0;
  position: relative;
}

.app-header__title {
  display: inline-flex;
  align-items: center;
}

.app-header__crest {
  margin-right: govuk-spacing(4);
  width: 66px;
}

.app-header__title-text {
  @include govuk-font(19, bold);
}

.app-header__link {
  @include govuk-link-style-text;
  @include govuk-link-style-no-underline;
}

.app-header__link:hover {
  text-decoration: none;
}

.app-header__link:focus-visible {
  @include govuk-focused-text;
}

.app-header__menu-button {
  margin-top: govuk-spacing(3);
  @include govuk-font(19);
  padding: govuk-spacing(2);
  border: none;
  background: none;
  display: flex;
  align-content: center;

  @include govuk-media-query($from: desktop) {
    display: none;
    visibility: hidden;
  }
}

.app-header__menu-button:focus {
  @include govuk-focused-text;
}

.app-header__menu-button:before {
  @include govuk-shape-arrow(down, 12px);
  content: '';
  margin-top: 6px;
  margin-right: govuk-spacing(2);
}

.app-header__menu-button--is-open:before {
  @include govuk-shape-arrow(up, 12px);
}

.app-header__nav {
  margin-top: govuk-spacing(4);
  padding-bottom: govuk-spacing(2);

  @include govuk-media-query($from: desktop) {
    padding-bottom: 0;
  }
}

.js-enabled .app-header__nav {
  display: none;
  visibility: hidden;

  @include govuk-media-query($from: desktop) {
    display: block;
    visibility: visible;
  }
}

.js-enabled .app-header__nav--is-open {
  display: block;
  visibility: visible;
}

.app-header__menu {
  list-style: none;
  margin: 0;
  padding: 0;

  @include govuk-media-query($from: desktop) {
    display: flex;
    justify-content: space-between;
  }
}

.app-header__menu-item {
  position: relative;

  @include govuk-media-query($from: desktop) {
    position: inherit;
    padding-bottom: 0;
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
  }
}

.app-header__menu-item--is-open {
  background-color: $app-brand-colour;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.app-header__menu-item--is-open .app-header__menu-link {
  color: govuk-colour('white');
}

.app-header__menu-link {
  display: block;
  padding: $govuk-gutter-half;

  @include govuk-media-query($from: desktop) {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: govuk-spacing(4) 0;
  }
}

.app-header__menu-item-icon {
  display: block;
  width: 45px;
  height: 45px;
  margin-bottom: govuk-spacing(2);

  @include govuk-media-query($from: desktop) {
    margin-left: auto;
    margin-right: auto;
  }
}

.app-header__menu-item-icon path {
  fill: currentColor;
}

.app-header__submenu-section {
  position: absolute;
  text-align: left;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: govuk-colour("light-grey");
  padding-top: govuk-spacing(4);
  padding-bottom: govuk-spacing(6);
  display: none;
  visibility: hidden;

  @include govuk-media-query($from: desktop) {
    top: calc(100% + govuk-spacing(2));
    padding-top: govuk-spacing(8);
    padding-bottom: govuk-spacing(8);
    border-bottom: 1px solid $govuk-border-colour;
    width: inherit;
  }
}

.app-header__submenu-section--is-open {
  display: block;
  visibility: visible;
}

.app-header__submenu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: $govuk-gutter;
}

.app-header__submenu-title {
  display: none;
  visibility: hidden;

  @include govuk-media-query($from: desktop) {
    display: block;
    visibility: visible;
  }
}

.app-header__submenu-link,
.app-header__dropdown-link {
  padding: govuk-spacing(2) govuk-spacing(2);
  display: block;
}

.app-header__submenu-link:hover,
.app-header__dropdown-link:hover {
  background-color: $app-brand-colour;
  color: govuk-colour('white');
}

.app-header__dropdown {
  position: relative;
}

.app-header__dropdown-list {
  display: none;
  visibility: hidden;
  background-color: govuk-colour('light-grey');
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  margin: 0;
  padding: govuk-spacing(2);
  list-style: none;
  border: 1px solid $govuk-border-colour;
}

.app-header__dropdown-list--is-open {
  display: block;
  visibility: visible;
}